.ftrd_subtitle {
    color: var(--clr-indigo);
    font-size: var(--size-sm);
    text-transform: capitalize;
    font-weight: 400;
}

.ftrd_title {
    font-size: var(--size-2xl);
    color: var(--clr-light);
    text-transform: uppercase;
}

.ftrd_link {
    width: var(--size-2xl);
    height: var(--size-2xl);
}

.ftrd_wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ftrd_description {
    max-width: 60ch;
    color: var(--clr-slate600);
    font-size: var(--size-sm);
    margin: 1rem 0;
}

.ftrd_infoContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.ftrd_infoContainer div {
    flex: 1;
    min-width: 250px;
}

.ftrd_label {
    font-size: var(--size-base);
    text-transform: capitalize;
    margin-bottom: 0.25em;
}

.ftrd_techStack {
    padding: 0;
    list-style: none;
}

.ftrd_info {
    font-size: var(--size-sm);
    color: var(--clr-slate600);
    text-transform: capitalize;
}

.ftrd_img-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.ftrd_img-wrapper {
    position: relative;
}

.ftrd_img-wrapper::after {
    content: '';
    background-color: rgba(79, 70, 229, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.3s;
}

.ftrd_img-wrapper:hover::after {
    background-color: rgba(79, 70, 229, 0.1);
}

/* xs */
@media (min-width: 475px){
    .ftrd_subtitle {
        font-size: var(--size-base);
    }
    
    .ftrd_title {
        font-size: var(--size-3xl);
    }

    .ftrd_link {
        width: var(--size-3xl);
        height: var(--size-3xl);
    }

    .ftrd_description {
        font-size: var(--size-base);
        margin: 1.5rem 0;
    }

    .ftrd_label {
        font-size: var(--size-lg);
    }
    
    .ftrd_info {
        font-size: var(--size-base);
    }

    .ftrd_img-container {
        margin-top: 1.5rem;
        grid-gap: 1.5rem;
    }
}

/* sm */
@media (min-width: 640px){
    .ftrd_img-container {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
    
}

/* md */
/* @media (min-width: 768px){} */

/* lg */
@media (min-width: 1024px){
    .ftrd_subtitle {
        font-size: var(--size-lg);
    }
    
    .ftrd_title {
        font-size: var(--size-4xl);
    }

    .ftrd_link {
        width: var(--size-4xl);
        height: var(--size-4xl);
    }

    .ftrd_description {
        font-size: var(--size-lg);
    }

    .ftrd_label {
        font-size: var(--size-xl);
    }
    
    .ftrd_info {
        font-size: var(--size-lg);
    }
}

/* xl */
@media (min-width: 1280px){
    .ftrd_subtitle {
        font-size: var(--size-xl);
    }
    
    .ftrd_title {
        font-size: var(--size-5xl);
    }

    .ftrd_link {
        width: var(--size-5xl);
        height: var(--size-5xl);
    }

    .ftrd_description {
        font-size: var(--size-xl);
        margin: 2rem 0;
    }

    .ftrd_label {
        font-size: var(--size-2xl);
    }
    
    .ftrd_info {
        font-size: var(--size-xl);
    }

    .ftrd_img-container {
        margin-top:2rem;
        grid-gap:2rem;
    }
}

/* 2xl */
/* @media (min-width: 1536px){} */